In [20]:
import pandas as pd
import numpy as np

In [2]:
df_crime = pd.read_excel('../data/raw/Data_Tables_LGA_Recorded_Offences_Year_Ending_June_2022.xlsx', 'Table 03', index_col = None)

In [3]:
df_crime.head()

,Year,Year ending,Local Government Area,Postcode,Suburb/Town Name,Offence Division,Offence Subdivision,Offence Subgroup,Offence Count
0,2022,June,Alpine,3691,Dederang,A Crimes against the person,Other crimes against the person,Other crimes against the person,1
1,2022,June,Alpine,3691,Dederang,B Property and deception offences,B40 Theft,B49 Other theft,1
2,2022,June,Alpine,3691,Dederang,D Public order and security offences,D10 Weapons and explosives offences,D11 Firearms offences,1
3,2022,June,Alpine,3691,Dederang,D Public order and security offences,D20 Disorderly and offensive conduct,D22 Drunk and disorderly in public,1
4,2022,June,Alpine,3691,Gundowring,B Property and deception offences,B10 Arson,B11 Cause damage by fire,1

In [4]:
df_crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356045 entries, 0 to 356044
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Year                   356045 non-null  int64
 1   Year ending            356045 non-null  object
 2   Local Government Area  356045 non-null  object
 3   Postcode               356045 non-null  int64
 4   Suburb/Town Name       356045 non-null  object
 5   Offence Division       356045 non-null  object
 6   Offence Subdivision    356045 non-null  object
 7   Offence Subgroup       356045 non-null  object
 8   Offence Count          356045 non-null  int64
dtypes: int64(3), object(6)
memory usage: 24.4+ MB

In [5]:
# Remove unwanted columns

col = ['Year ending','Local Government Area','Suburb/Town Name','Offence Division','Offence Subdivision','Offence Subgroup']
df_new = df_crime.drop(columns = col, axis = 1)
df_new.head()

   Year  Postcode  Offence Count
0  2022      3691              1
1  2022      3691              1
2  2022      3691              1
3  2022      3691              1
4  2022      3691              1

In [6]:
# Check for missing values

df_new.isnull().sum()

Year             0
Postcode         0
Offence Count    0
dtype: int64

In [9]:
df_new = df_new[df_new['Year'] == 2021].reset_index(drop=True)

In [23]:
postcodes = set(df_new['Postcode'])

In [24]:
# Calculate crime rate by suburb

lst = []
for postcode in postcodes:
    count = 0
    for i in df_new.index:
        if df_new['Postcode'].iloc[i] == postcode:
            count += df_new['Offence Count'].iloc[i]
    lst.append([postcode, count])
df_crime_rate = pd.DataFrame(lst, columns =['Postcode', 'Crime Rate'])

In [25]:
df_crime_rate.head()

   Postcode  Crime Rate
0      3000       16212
1      3002        1300
2      3003        1306
3      3004        4302
4      3006        3908

In [ ]:
df_crime_rate.to_csv("../data/curated/Crime_Rate.csv", index = False)