In [138]:
import pandas as pd
from pathlib import Path

In [139]:
ddf = pd.read_csv('../data/curated/historical_data.csv')

ddf.columns
ddf = ddf.rename(columns={'Sub': 'suburb'})

In [140]:
popudf=pd.read_csv('../data/curated/subpopu.csv')[['POSTCODE', '2016', '2017', '2018', '2019', '2020']]
incomedf=pd.read_csv('../data/curated/subincome.csv')[['POSTCODE', '2016', '2017', '2018', '2019', '2020']]

In [141]:
popudf.columns
years=['2016', '2017', '2018', '2019', '2020']

In [142]:
new_popudf=pd.DataFrame(columns=['POSTCODE','Year','population'])
for year in years:
    df=popudf[['POSTCODE',year]]
    df = df.rename(columns={year: 'population'})
    df['Year']=year
    new_popudf=pd.concat([new_popudf, df], axis=0)
new_popudf.count()

POSTCODE      3470
Year          3470
population    3470
dtype: int64

In [143]:
new_incomedf=pd.DataFrame(columns=['POSTCODE','Year','income'])
for year in years:
    df=incomedf[['POSTCODE',year]]
    df = df.rename(columns={year: 'income'})
    df['Year']=year
    new_incomedf=pd.concat([new_incomedf, df], axis=0)
new_incomedf.groupby("POSTCODE").count()

          Year  income
POSTCODE
3000         5       5
3002         5       5
3003         5       5
3004         5       5
3006         5       5
...        ...     ...
3990         5       5
3991         5       5
3992         5       5
3995         5       5
3996         5       5

[693 rows x 2 columns]

In [144]:
df_merged = pd.merge(new_incomedf, new_popudf, on=['POSTCODE', 'Year'], how='inner')
df_merged.count()

POSTCODE      3465
Year          3465
income        3465
population    3465
dtype: int64

In [145]:
sub_postcodeinfo=pd.read_csv('../data/raw/realestate.csv')
sub_postcodeinfo=sub_postcodeinfo[['suburb','postcode']]
sub_postcode=sub_postcodeinfo.groupby(['suburb','postcode']).count().reset_index()
sub_postcode.columns

Index(['suburb', 'postcode'], dtype='object')

In [146]:
sub_postcode = sub_postcode.rename(columns={'postcode': 'POSTCODE'})
sub_postcode

            suburb  POSTCODE
0       Abbotsford      3067
1       Aberfeldie      3040
2         Adelaide      5000
3     Airport West      3042
4        Albanvale      3021
..             ...       ...
309        Windsor      3181
310     Wonga Park      3115
311  Woori Yallock      3139
312   Wyndham Vale      3024
313     Yarraville      3013

[314 rows x 2 columns]

In [147]:
df_merged = pd.merge(df_merged,sub_postcode, on='POSTCODE', how='inner')[['suburb','Year','population','income']]
df_merged

         suburb  Year    population        income
0     Melbourne  2016  41683.457670  11005.428862
1     Melbourne  2017  46130.861430  11316.133546
2     Melbourne  2018  49159.902017  11726.506324
3     Melbourne  2019  51303.937866  12068.199830
4     Melbourne  2020  51981.279073  12596.837941
...         ...   ...           ...           ...
1560   Kallista  2016   1491.862880  62511.683032
1561   Kallista  2017   1487.441239  64483.140379
1562   Kallista  2018   1485.525203  66830.374762
1563   Kallista  2019   1481.984996  68163.616562
1564   Kallista  2020   1466.940310  70203.382368

[1565 rows x 4 columns]

In [148]:
df_merged['Year'] = df_merged['Year'].astype(int)
df_merged = pd.merge(df_merged,ddf, on=['Year','suburb'], how='inner')
df_merged.groupby('suburb').count()

                 Year  population  income  Type  Median_Price
suburb
Altona             35          35      35    35            35
Armadale           35          35      35    35            35
Balwyn             35          35      35    35            35
Bayswater          35          35      35    35            35
Bentleigh          35          35      35    35            35
Blackburn          35          35      35    35            35
Boronia            35          35      35    35            35
Box Hill           35          35      35    35            35
Brighton           35          35      35    35            35
Brighton East      35          35      35    35            35
Brunswick          35          35      35    35            35
Carlton North      35          35      35    35            35
Carnegie           35          35      35    35            35
Caulfield          35          35      35    35            35
Cheltenham         35          35      35    35            35
Clayton            35          35      35    35            35
Craigieburn        35          35      35    35            35
Dandenong          35          35      35    35            35
Docklands          35          35      35    35            35
East Melbourne     35          35      35    35            35
Elsternwick        35          35      35    35            35
Elwood             35          35      35    35            35
Essendon           35          35      35    35            35
Ferntree Gully     35          35      35    35            35
Fitzroy            35          35      35    35            35
Footscray          35          35      35    35            35
Frankston          35          35      35    35            35
Hawthorn           35          35      35    35            35
Keilor             35          35      35    35            35
Kew                35          35      35    35            35
Malvern            35          35      35    35            35
Malvern East       35          35      35    35            35
Mount Waverley     35          35      35    35            35
Noble Park         35          35      35    35            35
Northcote          35          35      35    35            35
Port Melbourne     35          35      35    35            35
Preston            35          35      35    35            35
Reservoir          35          35      35    35            35
Ringwood           35          35      35    35            35
Rowville           35          35      35    35            35
South Melbourne    35          35      35    35            35
South Yarra        35          35      35    35            35
Southbank          35          35      35    35            35
Springvale         35          35      35    35            35
St Kilda           35          35      35    35            35
Sunshine           35          35      35    35            35
Sydenham           35          35      35    35            35
Thornbury          35          35      35    35            35
Toorak             35          35      35    35            35
West Footscray     35          35      35    35            35
Williamstown       35          35      35    35            35

In [149]:
filepath = Path('../data/curated/ques2data.csv')
df_merged.to_csv(filepath, index=False)