In [2]:
import csv
import pandas as pd

In [4]:
df = pd.read_csv('../data/curated/moving_annual_rent.csv')
df.head()

,Unnamed: 0,Unnamed: 1,Mar 2016,Mar 2016.1,Jun 2016,Jun 2016.1,Sep 2016,Sep 2016.1,Dec 2016,Dec 2016.1,...,Mar 2020.1,Jun 2020,Jun 2020.1,Sep 2020,Sep 2020.1,Dec 2020,Dec 2020.1,Mar 2021,Mar 2021.1,Unnamed: 44
0,NaN,NaN,Count,Median,Count,Median,Count,Median,Count,Median,...,Median,Count,Median,Count,Median,Count,Median,Count,Median,NaN
1,Inner Melbourne,Albert Park-Middle Park-West St Kilda,279,325,292,325,292,325,269,330,...,370,228,355,231,350,243,350,263,340,1 bedroom flat
2,Inner Melbourne,Armadale,161,310,175,310,185,320,193,320,...,375,208,368,170,350,184,350,206,350,1 bedroom flat
3,Inner Melbourne,Carlton North,68,350,62,330,69,340,69,340,...,363,67,360,72,350,64,350,68,338,1 bedroom flat
4,Inner Melbourne,Carlton-Parkville,3345,330,3304,330,3353,334,3122,335,...,360,3239,356,2919,350,2829,340,2097,300,1 bedroom flat